body {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px 15px 0 15px;
}

.banner {
    height: 60px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner h1 {
    font-size: 28px;
    text-align: center;
    color: #2c3034;
}

.cal {
    margin: 10px;
}